numpy>=1.23
pandas>=1.5
opencv-python>=4.8
matplotlib>=3.7
colour-science>=0.4.4
colour-checker-detection>=0.1.5
torch>=2.0
torchvision>=0.15
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
